<div class='m-0 flex flex-col pt-6 px-4 gap-6 laptop:px-0 laptop:flex-row laptop:justify-between w-auto'>
    <div class='flex gap-6 pl-8 bg-white shadow-sm dark:bg-blue h-14 laptop:w-[30rem]  rounded-lg'>
      <div class=' pt-4'>
          <!-- <SearchIcon color='inherit'/> -->
      </div>
      <input type="text"
      placeholder='Search for a country...'
      class=' bg-white dark:bg-blue h-12 dark:text-white rounded-lg focus:outline-none'
      [(ngModel)]="searchValue"
      (input)="search()"
      />
    </div>
    <div class=' relative bg-white dark:bg-blue w-48 h-12  text-lg shadow-sm rounded-lg overflow-clip laptop:h-14 laptop:w-48' >
      <select 
        class=' bg-white dark:bg-blue appearance-none bg-opacity-5 w-full h-full pl-3 outline-none'
        [(ngModel)]="filterValue"
        (change)="filter()">
          <option  class='hidden' [ngValue]="''" disabled >Filter by region</option>
          <option [ngValue]="" disabled></option>
          <option [ngValue]="'Africa'">Africa</option>
          <option [ngValue]="'Asia'">Asia</option>
          <option [ngValue]="'Europe'">Europe</option>
          <option [ngValue]="'Americas'">Americas</option>
          <option [ngValue]="'Oceania'">Oceania</option>
          <option [ngValue]="" disabled></option>
      </select> 
      <span class=' absolute left-36 pt-2 laptop:pt-3 pointer-events-none'>
        <!-- <KeyboardArrowDownIcon  color='inherit'/> -->
    </span>
    </div> 
  </div>
